<!-- Общая шапка для всех документов PDF -->
<div class="doc-top-bar"></div>
<div class="doc-header">
    <div class="doc-logo">
        <div class="logo-main">PROFI</div>
        <div class="logo-sub">PRINT</div>
    </div>
    <div class="doc-company-info">
        <div class="doc-company-name">"PROFITPRINT2024" MChJ</div>
        <div class="doc-company-details">
            <p>Наманган шахар, Мехнатобод МФЙ, Бохористон, 3 уй.</p>
            <p>Тел: (+998) (88) 050-70-05, (+998) (90) 218-29-29</p>
        </div>
    </div>
</div>